@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cookie&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
}

.fixCen {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .fixCen {
    padding: 0 16px;
  }
}

input:focus,
button:focus {
  outline: none;
}

.rs {
  padding: 0;
  margin: 0;
}

.h-100 {
  height: 100%;
}

.mt-40 {
  margin-top: 40px;
}

a,
a:hover {
  text-decoration: none;
}

.full {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.full.active {
  display: block;
}

.wrapper-kiricard {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.6;
}
.wrapper-kiricard header {
  position: relative;
  z-index: 999;
}
.wrapper-kiricard header .main-header {
  background-color: #fff;
  height: 60px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  font-family: "Jost", sans-serif;
}
.wrapper-kiricard header .header-top {
  height: 100%;
}
.wrapper-kiricard header .inner-header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-kiricard header .logo {
  display: block;
  max-width: 160px;
}
.wrapper-kiricard header .logo img {
  width: 100%;
}
.wrapper-kiricard header .icon-menu-bar {
  color: #333;
  height: 40px;
  display: flex;
  align-items: center;
}
.wrapper-kiricard header .icon-menu-bar i {
  margin-right: 8px;
}
.wrapper-kiricard header .icon-search {
  display: none;
}
.wrapper-kiricard header .lst-icon-menu {
  display: flex;
  align-items: center;
}
.wrapper-kiricard header .lst-icon-menu a {
  display: none;
}
.wrapper-kiricard header .lst-icon-menu a.shopping-cart {
  color: #333;
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-kiricard header .lst-icon-menu a.shopping-cart .fa-shopping-cart {
  font-size: 20px;
}
.wrapper-kiricard header .lst-icon-menu a.shopping-cart .number-cart {
  position: absolute;
  top: 5px;
  inset-inline-end: 0;
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f08a35;
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 9px;
  line-height: 15px;
}
.wrapper-kiricard header .lst-icon-menu a .fa {
  color: #333;
  font-size: 16px;
}
.wrapper-kiricard header .lst-icon-menu a:hover .fa {
  color: rgba(51, 51, 51, 0.6);
}
.wrapper-kiricard header .form-search {
  position: relative;
  width: 300px;
  height: 40px;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
.wrapper-kiricard header .form-search form {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper-kiricard header .form-search input {
  flex: 1;
  height: 100%;
  border: none;
}
.wrapper-kiricard header .form-search input:focus {
  outline: none;
}
.wrapper-kiricard header .form-search button {
  background: none;
  border: none;
}
.wrapper-kiricard header .lst-menu {
  width: 300px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 9999;
  transition: all 0.3s ease;
  overflow-y: auto;
}
.wrapper-kiricard header .lst-menu.active {
  left: 0;
}
.wrapper-kiricard header .lst-menu .form-search {
  display: flex;
  position: relative;
  top: 0;
}
.wrapper-kiricard header .lst-menu .mb-menu li a {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
  flex: 1 1 0%;
  padding: 5px 20px;
  min-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1058823529);
  color: #333;
}
.wrapper-kiricard header .lst-menu .mb-menu li a .fa {
  margin-right: 8px;
}
.wrapper-kiricard header .lst-menu .mb-menu li .sub-menu-shop,
.wrapper-kiricard header .lst-menu .mb-menu li .sub-menu {
  display: none;
}
.wrapper-kiricard header .lst-menu .mb-menu li .fa {
  display: none;
}
.wrapper-kiricard header .lst-menu .mb-menu li:hover > a {
  color: #f08a35;
}
.wrapper-kiricard main {
  position: relative;
}
.wrapper-kiricard main .elementor-shape-bottom {
  transform: rotate(180deg);
  bottom: -65px;
}
.wrapper-kiricard main .elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}
.wrapper-kiricard main .elementor-shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper-kiricard main .elementor-shape-bottom .elementor-shape-fill {
  fill: #f4f8fb;
}
.wrapper-kiricard .see-collection {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 50px 15px;
}
.wrapper-kiricard .see-collection .see-textbox {
  font-size: 14px;
}
.wrapper-kiricard .see-collection .see-textbox p {
  margin-bottom: 20px;
}
.wrapper-kiricard .see-collection .see-textbox .btn-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  min-height: 42px;
  font-size: 13px;
  background-color: #f08a35;
  color: #fff;
  text-transform: uppercase;
}

.title-subtitle {
  font-family: "Cookie", cursive;
  color: #f08a35;
  font-size: 24px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1025px) {
  .title-subtitle {
    font-size: 30px;
  }
}

.title-sub {
  color: #16527f;
  font-size: 25px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1025px) {
  .title-sub {
    font-size: 36px;
  }
}

.swiper-product {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
}
.swiper-product .swiper-button-prev,
.swiper-product .swiper-button-next {
  background: #fff;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.swiper-product .swiper-button-prev .fa,
.swiper-product .swiper-button-next .fa {
  font-size: 12px;
}

.item-product {
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
.item-product:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}
.item-product .inner-product {
  padding: 0 10px;
}
.item-product .thumb-product {
  position: relative;
  display: block;
}
.item-product .tag-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
}
.item-product .tag-thumb.tag-new {
  right: 5px;
}
.item-product .tag-thumb.tag-sale {
  left: 5px;
}
.item-product .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}
.item-product .price {
  font-size: 16px;
  line-height: 150%;
  color: rgb(39, 39, 42);
  margin-bottom: 10px;
}
.item-product .btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(235, 235, 240);
  color: #333;
  height: 36px;
}
.item-product .btn-more:hover {
  color: #f08a35;
}
@media only screen and (min-width: 1025px) {
  .item-product .title {
    font-size: 14px;
  }
}

.swiper-banner .swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.swiper-banner .swiper-button-prev::before {
  display: block;
  content: "";
  background: url("../images/icon-arrow.png") 0/100% no-repeat;
  width: 24px;
  height: 24px;
}
.swiper-banner .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.swiper-banner .swiper-button-next::before {
  display: block;
  content: "";
  background: url("../images/icon-arrow.png") 0/100% no-repeat;
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
}

.swiper-collection {
  position: relative;
  padding: 30px 0;
  background: url("../images/sweets-bakery-infoboxes-bg.png") 50% 20px repeat-x;
}
.swiper-collection .swiper-button-prev,
.swiper-collection .swiper-button-next {
  background-image: none;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-collection .swiper-button-prev .fa,
.swiper-collection .swiper-button-next .fa {
  font-size: 16px;
  color: #7a7a7a;
}
.swiper-collection .swiper-button-prev {
  left: -20px;
}
.swiper-collection .swiper-button-next {
  right: -20px;
}
.swiper-collection .thumb-collection {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}
.swiper-collection .title {
  color: #16527f;
  line-height: 1.3;
  font-size: 22px;
  text-align: center;
}
.swiper-collection p {
  text-align: center;
  margin: 10px 0;
}
.swiper-collection .btn-more {
  display: inline-block;
  margin: 0 auto;
  color: #333;
  border-bottom: 2px solid #f08a35;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
@media only screen and (min-width: 1280px) {
  .swiper-collection {
    padding: 50px 0;
  }
  .swiper-collection .swiper-button-prev,
.swiper-collection .swiper-button-next {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .see-collection .swiper-collection {
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 1025px) {
  .wrapper-kiricard header {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .wrapper-kiricard header .main-header {
    width: 95%;
    max-width: 1192px;
    height: 90px;
    margin-inline: auto;
  }
  .wrapper-kiricard header .icon-menu-bar {
    display: none;
  }
  .wrapper-kiricard header .logo {
    max-width: 240px;
  }
  .wrapper-kiricard header .lst-icon-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
  .wrapper-kiricard header .lst-icon-menu a .fa {
    font-size: 20px;
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search {
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search .icon-search-ic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 3px solid #f08a35;
    border-radius: 50%;
    margin-left: 8px;
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search .icon-search-ic .fa {
    font-size: 20px;
    color: #333;
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search:hover .fa {
    color: rgba(51, 51, 51, 0.6);
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search:hover .form-search {
    display: flex;
  }
  .wrapper-kiricard header .lst-menu {
    position: static;
    width: 100%;
    left: 0;
    height: auto;
    background-color: transparent;
    display: block;
    overflow-y: hidden;
  }
  .wrapper-kiricard header .lst-menu .lst-icon-menu-mb,
.wrapper-kiricard header .lst-menu .form-search {
    display: none;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header {
    display: flex;
    flex: 1;
    position: static;
    justify-content: center;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header li {
    position: relative;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header li > a {
    border: none;
    display: flex;
    align-items: center;
    min-height: 90px;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header li > a .fa {
    margin-left: 5px;
    display: inline-block;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header li .sub-menu {
    position: absolute;
    background-color: #fff;
    width: 220px;
    padding: 12px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    top: 100%;
    left: 0;
    display: none;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header li .sub-menu li a {
    text-transform: none;
    font-weight: normal;
    min-height: 36px;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header li:hover .sub-menu {
    display: block;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop {
    position: static;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop {
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 20px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    top: 100%;
    left: 0;
    display: none;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop a {
    text-transform: none;
    font-weight: normal;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop .menu-item-shop h4 {
    text-transform: uppercase;
    font-weight: bold;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop .menu-item-shop a {
    padding: 5px 10px;
    min-height: 36px;
    position: relative;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop .menu-item-shop .menu-label {
    margin-top: -34px;
    position: relative;
    bottom: 85%;
    z-index: 1;
    display: inline-block;
    -webkit-margin-start: -20px;
            margin-inline-start: -20px;
    padding: 2px 4px;
    border-radius: calc(var(--wd-brd-radius) / 1.5);
    background-color: var(--wd-label-color);
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    font-size: 9px;
    font-family: var(--wd-text-font);
    line-height: 12px;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop .menu-item-shop .menu-label::before {
    content: "";
    position: absolute;
    top: 100%;
    inset-inline-start: 10px;
    border: 4px solid var(--wd-label-color);
    border-bottom-color: transparent !important;
    border-inline-end-color: transparent !important;
    border-inline-end-width: 7px;
    border-inline-start-width: 0;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop .menu-item-shop .menu-label-red {
    --wd-label-color: #d41212;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop .menu-item-shop .menu-label-orange {
    --wd-label-color: #fbbc34;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop .sub-menu-shop .lst-shop .menu-item-shop .label-green {
    --wd-label-color: #65b32e;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header .menu-shop:hover .sub-menu-shop {
    display: block;
  }
  .wrapper-kiricard .see-block-1 {
    display: flex;
  }
  .wrapper-kiricard .see-block-1 .see-textbox {
    width: 25%;
  }
  .wrapper-kiricard .see-block-1 .swiper-collection {
    flex: 1;
  }
}
.lst-bestseller-product {
  background-image: url("../images/hinh-nen-web-new.png");
  background-size: contain;
  margin: 0px 0px 40px 0px;
  padding: 90px 15px 90px 15px;
  position: relative;
}
.lst-bestseller-product .elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}
.lst-bestseller-product .elementor-shape-top {
  top: -1px;
}
.lst-bestseller-product .elementor-shape-bottom {
  bottom: -1px;
}
.lst-bestseller-product .elementor-shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.lst-bestseller-product .elementor-shape svg .elementor-shape-fill {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}
.lst-bestseller-product .elementor-shape[data-negative=false].elementor-shape-bottom,
.lst-bestseller-product .elementor-shape[data-negative=true].elementor-shape-top {
  transform: rotate(180deg);
}

.btn-more-list {
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f0ad4e;
  border: 1px solid #f0ad4e;
  transition: all 0.3s ease;
}
.btn-more-list:hover {
  color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1607843137);
}

.box-contact .title {
  font-size: 45px;
  font-weight: 600;
  color: #000;
  line-height: 1;
}
.box-contact .btn-signup {
  background-color: #fd4680;
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.box-contact .item-form {
  width: 100%;
  margin-bottom: 16px;
  text-align: left;
}
.box-contact .item-form label {
  width: 100%;
  margin-bottom: 4px;
}
.box-contact .item-form input {
  width: 100%;
  border: 1px solid rgb(235, 235, 240);
  height: 40px;
  padding: 0 16px;
}
@media screen and (min-width: 769px) {
  .box-contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
  }
  .box-contact .item-form {
    width: 48%;
  }
}

.lst-creative {
  padding: 20px 0;
}
.lst-creative .item-creative {
  background-color: #f4f8fb;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 2px 3px 14px transparent;
}
.lst-creative .item-creative h4 {
  color: #16527f;
  font-size: 24px;
  line-height: 1.3;
  transition: all 0.25s ease;
  font-weight: 500;
}
.lst-creative .item-creative p {
  margin-top: 10px;
}
.lst-creative .item-creative .btn-more {
  display: inline-block;
  margin: 15px auto 0;
  color: #333;
  border-bottom: 2px solid #f08a35;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.lst-creative .item-creative:hover {
  background-color: #f08a35;
  box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.16);
  color: #fff;
}
.lst-creative .item-creative:hover h4,
.lst-creative .item-creative:hover p,
.lst-creative .item-creative:hover a {
  color: #fff;
}
.lst-creative .img-creative {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1025px) {
  .lst-creative {
    display: flex;
  }
  .lst-creative .group-creative {
    width: 25%;
  }
}

.box-company .our-company {
  margin: 20px 0;
}
.box-company .lst-our-company {
  padding: 20px 0;
}
.box-company .item-company {
  background-color: #f4f8fb;
  margin-bottom: 20px;
  padding: 30px;
  box-shadow: 2px 3px 14px transparent;
}
.box-company .item-company .box-incon-info {
  display: inline-block;
  transition: all 0.25s ease;
  color: #f08a35;
  font-size: 38px;
  font-weight: 700;
}
.box-company .item-company .btn-more {
  display: inline-block;
  margin: 15px auto 0;
  color: #333;
  border-bottom: 2px solid #f08a35;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
@media only screen and (min-width: 1025px) {
  .box-company {
    display: flex;
  }
  .box-company .img-company {
    width: 50%;
    padding: 20px;
    margin-bottom: 0;
  }
  .box-company .item-company {
    margin-bottom: 0;
    padding: 20px;
  }
  .box-company .our-company {
    width: 50%;
  }
  .box-company .lst-our-company {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.box-share-news {
  padding: 30px 15px;
}
.box-share-news .item-news {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s cubic-bezier(0, 0, 0.44, 1.18);
}
.box-share-news .item-news .content-news {
  padding: 25px;
}
.box-share-news .item-news .content-news .title-news {
  margin-bottom: 10px;
  font-size: 22px;
  color: #333;
  line-height: 1.4;
  font-weight: 500;
}
.box-share-news .item-news .content-news .date-author {
  color: #a5a5a5;
  margin-bottom: 10px;
  font-size: 13px;
}
.box-share-news .item-news .content-news .btn-link-news {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  line-height: 1;
  color: #f08a35;
  margin-top: 15px;
}
.box-share-news .item-news .content-news p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.box-share-news .item-news .thumb-news {
  position: relative;
  overflow: hidden;
}
.box-share-news .item-news .thumb-news img {
  transition: all 0.5s cubic-bezier(0, 0, 0.44, 1.18);
}
.box-share-news .item-news .thumb-news .author {
  position: absolute;
  bottom: 20px;
  left: 15px;
  display: flex;
  align-items: center;
}
.box-share-news .item-news .thumb-news .author .img-ava {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
}
.box-share-news .item-news .thumb-news .author .name {
  color: #fff;
}
.box-share-news .item-news .thumb-news .box-social {
  position: absolute;
  bottom: 20px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-share-news .item-news .thumb-news .box-social a {
  position: relative;
}
.box-share-news .item-news .thumb-news .box-social .number-comment {
  display: block;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f08a35;
  color: #fff;
  text-align: center;
  font-size: 9px;
  line-height: 14px;
}
.box-share-news .item-news .thumb-news .box-social .fa {
  color: #fff;
}
.box-share-news .item-news .thumb-news .box-social .icon-share .lst-share {
  background-color: #000;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  right: 10px;
  display: none;
}
.box-share-news .item-news .thumb-news .box-social .icon-share .lst-share a {
  display: block;
  margin: 0 6px;
}
.box-share-news .item-news .thumb-news .box-social .icon-share .lst-share::before {
  display: block;
  content: "";
  left: auto;
  inset-inline-end: 15px;
  margin: 0;
  top: 100%;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.box-share-news .item-news .thumb-news .box-social .icon-share:hover .lst-share {
  display: flex;
}
.box-share-news .item-news:hover .thumb-news img {
  transform: scale(1.1);
}

footer {
  background-color: rgb(244, 248, 251);
  padding: 40px 0;
}
footer .footer-container {
  color: #2c2c2c;
  font-size: 14px;
}
footer .footer-container a,
footer .footer-container .fa {
  color: #7a7a7a;
}
footer .footer-container .logo-footer {
  max-width: 260px;
  display: block;
  margin: 0 auto 15px;
}
footer .footer-container .main-footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
footer .footer-container .main-footer h4 {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
footer .footer-container .main-footer h3 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
footer .footer-container .main-footer ul li {
  margin-bottom: 4px;
}
footer .footer-container .lst-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer .footer-container .lst-social a {
  display: block;
  width: 40px;
  height: 40px;
}
footer .footer-container .lst-social a.icon-fb {
  background: url("../images/icon-fb.png") 0/100%;
}
footer .footer-container .lst-social a.icon-youtube {
  background: url("../images/icon-youtube.png") 0/100%;
}
footer .footer-container .lst-social a.icon-instagram {
  background: url("../images/icon-intagram.png") 0/100%;
}
footer .footer-container .lst-social a.icon-tiktok {
  background: url("../images/icon-tiktok.png") 0/100%;
}
footer .bottom-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1058823529);
  padding: 20px 0;
  text-align: center;
  margin-top: 30px;
}
footer .bottom-footer a {
  color: #000;
}
footer .bottom-footer strong,
footer .bottom-footer b {
  font-weight: 600;
}
@media only screen and (min-width: 1025px) {
  footer .footer-container .main-footer {
    grid-template-columns: repeat(4, 1fr);
  }
  footer .bottom-footer {
    text-align: left;
  }
}

.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 350;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(var(--bgcolor-white-rgb), 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  color: var(--color-gray-800);
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateX(100%);
}
.scrollToTop .fa {
  color: #f08a35;
}
.scrollToTop.show {
  opacity: 1;
  transform: none;
  pointer-events: visible;
}

.fixHeader header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
@media only screen and (min-width: 1025px) {
  .fixHeader header {
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  }
  .fixHeader header .main-header {
    height: 60px;
    box-shadow: none;
  }
  .fixHeader header .lst-menu .lst-menu-header li a {
    min-height: 60px;
  }
}

.page-title-default {
  background-color: rgb(153, 214, 233);
  background-image: url(https://kiricard.com/wp-content/uploads/2023/02/hinh-nen-danh-muc.jpg);
  background-size: cover;
  background-position: center center;
}

.title-design-centered {
  text-align: center;
}

.page-title {
  position: relative;
  padding: 15px 0;
  padding-top: 77px;
  color: #fff;
}
.page-title a {
  color: #fff;
}
.page-title .title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
}
.page-title .breadcrumbs {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}
.page-title .breadcrumbs a::after {
  content: "/";
  display: inline-block;
  padding: 0 8px;
}

.main-about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-wrapper .title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1025px) {
  .page-title {
    margin-top: 70px;
  }
  .page-title .title {
    font-size: 68px;
  }
  .page-title-default {
    padding-top: 182px;
    padding-bottom: 60px;
  }
  .title-wrapper .title {
    font-size: 24px;
  }
}
.header-product {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
}
.header-product h2 {
  color: rgb(39, 39, 42);
  display: flex;
  padding: 12px 16px;
  background-color: white;
  flex: 1 1 0%;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: unset;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 8px 8px 0px 0px;
}
.header-product .menu-suggest {
  width: 100%;
  overflow-x: auto;
}
.header-product .lst-suggest-product {
  min-width: 480px;
  display: flex;
}
.header-product .lst-suggest-product .item-suggest-product {
  width: 80px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 4px;
  border-bottom: 1px solid rgb(235, 235, 240);
}
.header-product .lst-suggest-product .item-suggest-product .name {
  font-size: 12px;
  color: #333;
  text-align: center;
  line-height: 1.2;
}
.header-product .lst-suggest-product .item-suggest-product.active, .header-product .lst-suggest-product .item-suggest-product:hover {
  background: rgba(0, 96, 255, 0.05);
  border-bottom-color: #f08a35;
}
.header-product .lst-suggest-product .item-suggest-product.active .name, .header-product .lst-suggest-product .item-suggest-product:hover .name {
  color: #f08a35;
}
@media only screen and (min-width: 1025px) {
  .header-product .menu-suggest {
    overflow-x: hidden;
  }
  .header-product .lst-suggest-product {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .header-product .lst-suggest-product .item-suggest-product {
    width: auto;
  }
  .header-product .lst-suggest-product .item-suggest-product .name {
    font-size: 14px;
  }
}

.wrp-product-list {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}
.wrp-product-list .wrp-lst-cart {
  width: 100%;
}
.wrp-product-list .wrp-lst-cart .title {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  margin-bottom: 12px;
}
.wrp-product-list .item-cart {
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 12px;
}
.wrp-product-list .wrp-adress-cart {
  width: 100%;
}
.wrp-product-list .item-option-cart {
  display: flex;
  justify-content: space-between;
}
.wrp-product-list .item-option-cart .btn-delete {
  position: static;
}
.wrp-product-list .name-shop-cart {
  display: flex;
  align-items: center;
  color: rgb(56, 56, 61);
  line-height: 1;
  margin-left: 10px;
}
.wrp-product-list .name-shop-cart::before {
  display: block;
  content: "";
  background: url("../images/icon-home-cart.png") 0/100% no-repeat;
  width: 15px;
  height: 15px;
  margin: 0 6px 0 2px;
}
.wrp-product-list .name-shop-cart::after {
  display: block;
  content: "";
  background: url("../images/arr-right.svg") 0/100% no-repeat;
  width: 6px;
  height: 10px;
  margin-left: 6px;
}
.wrp-product-list .info-product-cart {
  display: flex;
}
.wrp-product-list .info-product-cart .thumb {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 16px;
}
.wrp-product-list .info-product-cart .info {
  flex: 1;
}
.wrp-product-list .info-product-cart .info .name-info {
  line-height: 150%;
  font-weight: 400;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: rgb(39, 39, 42);
  margin-bottom: 4px;
  text-decoration: none;
  position: relative;
}
.wrp-product-list .info-product-cart .info .name-info:hover {
  color: #f08a35;
}
.wrp-product-list .info-product-cart .info .type-info {
  display: none;
}
.wrp-product-list .item-shop-cart {
  margin-bottom: 16px;
  position: relative;
}
.wrp-product-list .item-shop-cart:last-child {
  margin-bottom: 0;
}
.wrp-product-list .line-shop-cart {
  display: flex;
  align-items: center;
  margin-bottom: -35px;
}
.wrp-product-list .label-cart-top {
  display: none;
}
.wrp-product-list .price1 {
  font-weight: 500;
  color: #000;
}
.wrp-product-list .price2 {
  font-weight: 500;
  color: #d41212;
}
.wrp-product-list .btn-delete {
  position: absolute;
  bottom: 20px;
  right: 0px;
}
.wrp-product-list .price1,
.wrp-product-list .price2,
.wrp-product-list .number-cart {
  margin-left: 130px;
}
.wrp-product-list .btn-buy-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.wrp-product-list .price-total {
  color: #d41212;
  font-size: 20px;
  font-weight: 500;
}
.wrp-product-list .box-price-total {
  padding: 10px 0;
  border-top: 1px solid #dfdfdf;
  margin-top: 10px;
}
.wrp-product-list .info-user-cart {
  color: rgb(56, 56, 61);
  font-weight: 600;
}
.wrp-product-list .sale-code-cart {
  display: flex;
  align-items: center;
}
.wrp-product-list .number-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrp-product-list .number-cart p {
  font-size: 12px;
  margin-top: 6px;
}
.wrp-product-list .number-cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid rgb(200, 200, 200);
  cursor: pointer;
}
.wrp-product-list .number-cart input {
  width: 32px;
  height: 24px;
  text-align: center;
  border: 1px solid rgb(200, 200, 200);
  border-left: 0;
  border-right: 0;
}
@media only screen and (min-width: 1025px) {
  .wrp-product-list {
    padding-top: 150px;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .wrp-product-list .label-cart-top {
    display: block;
  }
  .wrp-product-list .btn-buy-cart {
    position: static;
  }
  .wrp-product-list .btn-delete {
    position: static;
  }
  .wrp-product-list .wrp-lst-cart {
    flex: 1;
    margin-right: 24px;
  }
  .wrp-product-list .wrp-adress-cart {
    width: 320px;
    padding-top: 50px;
  }
  .wrp-product-list .info-product-cart .info .type-info {
    display: block;
  }
  .wrp-product-list .item-shop-cart,
.wrp-product-list .item-option-cart {
    display: grid;
    grid-template-columns: auto 80px 120px 80px 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: unset;
    align-items: center;
  }
  .wrp-product-list .line-shop-cart {
    margin-bottom: 0;
  }
  .wrp-product-list .price1,
.wrp-product-list .price2,
.wrp-product-list .number-cart {
    margin-left: 0;
  }
  .wrp-product-list .number-cart {
    align-items: center;
  }
}

.main-product-list {
  width: 100%;
  flex: 1;
}

.lst-menu-left {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .lst-menu-left {
    display: block;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-height: 200px;
    width: 200px;
    margin-right: 24px;
    padding: 12px 8px;
  }
  .lst-menu-left .title-category {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
  }
  .lst-menu-left .lst-category li a {
    display: flex;
    padding: 7px 16px;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .lst-menu-left .lst-category li a .thumb-cate {
    display: block;
    flex: 0 0 32px;
    height: 32px;
    margin-right: 8px;
    line-height: 0;
  }
  .lst-menu-left .lst-category li a .name {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
  }
  .lst-menu-left .lst-category li a:hover {
    background-color: rgba(39, 39, 42, 0.12);
  }
  .lst-menu-left .lst-menu-category li a {
    font-size: 14px;
    font-weight: 400;
    color: rgb(56, 56, 61);
    padding: 0px 0px 12px 0;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  .lst-menu-left .lst-menu-category.icon-list-order li a svg {
    width: 24px;
    height: 24px;
    margin: 0px 12px 0px 0px;
    font-size: 24px;
    color: rgb(155, 155, 155);
  }
  .lst-menu-left .lst-price-sort {
    display: flex;
    flex-direction: column;
  }
  .lst-menu-left .lst-price-sort span {
    background: rgb(238, 238, 238);
    font-size: 12px;
    padding: 4px 12px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    color: rgb(56, 56, 61);
    border-radius: 12px;
    margin-bottom: 4px;
  }
  .lst-menu-left .price-sort-between {
    display: flex;
    align-items: center;
  }
  .lst-menu-left .price-sort-between input {
    flex: 1 1 0%;
    width: 77px;
    height: 30px;
    padding: 0px 8px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    text-align: left;
    border: 1px solid rgb(184, 184, 184);
    outline: 0px;
    font-size: 13px;
  }
  .lst-menu-left .price-sort-between span {
    width: 7px;
    height: 1px;
    font-size: 0px;
    display: inline-block;
    background: rgb(154, 154, 154);
    margin: 0px 4px;
    vertical-align: middle;
  }
  .lst-menu-left .box-user {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;
  }
  .lst-menu-left .box-user .avatar {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
  }
  .lst-menu-left .box-user .info {
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
  }
  .lst-menu-left .box-user .info strong {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin: 4px 0px 0px;
  }
}

.lst-prd-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media screen and (min-width: 769px) {
  .lst-prd-item {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1025px) {
  .lst-prd-item {
    grid-template-columns: repeat(4, 1fr);
  }
}

.squaredcheck {
  position: relative;
}
.squaredcheck label {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 0;
  background: #fff;
  border: 1px solid rgb(196, 196, 207);
  border-radius: 4px;
}
.squaredcheck label:after {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.squaredcheck label:hover::after {
  opacity: 1;
}
.squaredcheck span {
  position: absolute;
  width: 300px;
  left: 30px;
  line-height: 1;
}
.squaredcheck input[type=checkbox] {
  visibility: hidden;
  width: 18px;
  height: 18px;
}
.squaredcheck input[type=checkbox]:checked + label {
  background: #f08a35;
  border: 1px solid #f08a35;
}
.squaredcheck input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.btn-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-delete .fa {
  font-size: 20px;
  color: #7a7a7a;
}
.btn-delete:hover .fa {
  color: #333;
}

.btn-buy-cart {
  background: rgb(255, 66, 78);
  color: rgb(255, 255, 255);
  padding: 13px 10px;
  text-align: center;
  border-radius: 4px;
  border: none;
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 15px auto 0px;
}
.btn-buy-cart:hover {
  opacity: 0.8;
}

.btn-sort {
  background: rgb(255, 255, 255);
  border: 1px solid #f0ad4e;
  font-size: 12px;
  color: #f0ad4e;
  padding: 5px 15px;
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-sort:hover {
  background-color: #f0ad4e;
  color: #fff;
}

.label-orange {
  color: #f08a35;
}

.local-left img {
  margin-bottom: -5px;
}
.local-left p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
}
.local-left a {
  color: #000;
  text-decoration: underline;
}

.toggler {
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 16px;
  color: rgb(11, 116, 229);
  cursor: pointer;
}

.box-detail-product {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px;
}
.box-detail-product .outer {
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
}
.box-detail-product #big .item {
  height: 360px;
  width: 100%;
}
.box-detail-product .item-video {
  width: 100%;
  height: 360px;
}
.box-detail-product #big {
  margin-bottom: 10px;
  border: 1px solid rgb(235, 235, 240);
  border-radius: 8px;
  overflow: hidden;
}
.box-detail-product #big .owl-nav {
  display: none !important;
}
.box-detail-product #thumbs .item {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
}
.box-detail-product #thumbs .owl-item {
  border: 1px solid rgb(235, 235, 240);
  border-radius: 4px;
  overflow: hidden;
}
.box-detail-product #thumbs .owl-item.current {
  border: 1px solid #ffb637;
}
.box-detail-product .owl-nav button {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -22px;
}
.box-detail-product .owl-nav button.disabled {
  display: none;
}
.box-detail-product .owl-nav button i {
  width: 6px;
  height: 14px;
}
.box-detail-product .owl-nav button.owl-prev {
  left: -14px;
}
.box-detail-product .owl-nav button.owl-next {
  right: -14px;
}
.box-detail-product .info-detail-product h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: rgb(39, 39, 42);
  margin-bottom: 10px;
}
.box-detail-product .info-detail-product .lst-description li {
  display: flex;
  margin-bottom: 6px;
}
.box-detail-product .info-detail-product .lst-description li .img {
  display: block;
  margin-top: 3px;
  margin-right: 5px;
}
.box-detail-product .info-detail-product .lst-description li .text {
  flex: 1;
}
.box-detail-product .info-detail-product .bottom-text-product {
  padding: 10px 0;
  border-top: 1px solid rgb(235, 235, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-detail-product .info-detail-product .bottom-text-product::after {
  display: block;
  content: "";
  background: url("../images/arr-right2.png") 0/100% no-repeat;
  width: 24px;
  height: 24px;
}
.box-detail-product .info-detail-product .bottom-text-product .text {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1025px) {
  .box-detail-product {
    max-width: 380px;
  }
  .box-detail-product .outer {
    width: 360px;
    margin: 0;
  }
}

.main-info-detail-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-info-detail-product .main-item-detail {
  width: 100%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
}
.main-info-detail-product .info-brand {
  display: flex;
}
.main-info-detail-product .brand-and-author {
  margin-left: 5px;
}
.main-info-detail-product .rate-detail-product {
  display: flex;
  align-items: center;
}
.main-info-detail-product .rate-detail-product .box-rate {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.main-info-detail-product .title-detail {
  margin: 0px;
  color: rgb(39, 39, 42);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  word-break: break-word;
}
.main-info-detail-product .product-price {
  display: flex;
  align-items: center;
  color: rgb(39, 39, 42);
  gap: 8px;
}
.main-info-detail-product .product-price__current-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}
.main-info-detail-product .product-price__discount-rate {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  padding: 0px 4px;
  background: rgb(245, 245, 250);
  border-radius: 8px;
  color: rgb(39, 39, 42);
}
.main-info-detail-product .product-price-sale {
  padding: 8px 12px;
  box-shadow: rgb(242, 242, 242) 1px 1px 0px 0px inset, rgb(242, 242, 242) -1px -1px 0px 0px inset;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  gap: 4px;
}
.main-info-detail-product .product-price-sale .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-info-detail-product .product-price-sale .arr-down {
  transform: rotate(90deg);
}
.main-info-detail-product .title-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}
.main-info-detail-product .item-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  border-bottom: 1px solid rgb(235, 235, 240);
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: rgb(39, 39, 42);
  gap: 8px;
}
.main-info-detail-product .item-line:last-child {
  border-bottom: none;
}
.main-info-detail-product .item-line-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 4px;
}
.main-info-detail-product .detail-product-center {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-top: 8px;
  color: rgb(36, 36, 36);
  text-align: justify;
  border-radius: 4px;
}
.main-info-detail-product .detail-product-center .content {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.main-info-detail-product .detail-product-center .gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
.main-info-detail-product .detail-product-center .btn-more {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 39px;
  margin: 10px auto 0px;
  color: rgb(24, 158, 255);
  font-size: 13px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  .main-info-detail-product {
    flex: 1;
    margin: 0 20px;
    max-width: calc(100% - 780px);
  }
}

.brand-detail-right {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.brand-detail-right .shop-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(235, 235, 240);
}
.brand-detail-right .shop-info .img-shop {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.brand-detail-right .shop-info .detail-shop-info {
  flex: 1;
}
.brand-detail-right .shop-info .detail-shop-info .name {
  display: flex;
  align-items: center;
  gap: 4px;
}
.brand-detail-right .shop-info .detail-shop-info .item-review {
  display: flex;
  padding-right: 12px;
  gap: 4px;
  align-items: center;
  color: rgb(39, 39, 42);
  white-space: nowrap;
}
.brand-detail-right .shop-info .detail-shop-info .item-review .title {
  display: flex;
  align-items: center;
  gap: 4px;
}
.brand-detail-right .shop-info .detail-shop-info .sub-title {
  color: rgb(128, 128, 137);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.brand-detail-right .detail-bottom-product {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.brand-detail-right .detail-bottom-product .label {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
}
.brand-detail-right .detail-bottom-product .quantityInput {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.brand-detail-right .detail-bottom-product .group-input {
  display: flex;
  align-items: center;
}
.brand-detail-right .detail-bottom-product .group-input button {
  display: flex;
  padding: 6px;
  align-items: center;
  height: 32px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  text-align: center;
  outline: none;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border: 1px solid rgb(166, 166, 176);
  background: white;
}
.brand-detail-right .detail-bottom-product .group-input button:hover {
  background-color: rgb(236, 236, 236);
}
.brand-detail-right .detail-bottom-product .group-input button.disable {
  pointer-events: none !important;
  border: 1px solid rgba(196, 196, 207, 0.3019607843) !important;
}
.brand-detail-right .detail-bottom-product .group-input button.disable img {
  opacity: 0.4;
}
.brand-detail-right .detail-bottom-product .group-input input {
  width: 40px;
  margin: 0px 4px;
  height: 32px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  text-align: center;
  outline: none;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border: 1px solid rgb(166, 166, 176);
  background: white;
}
@media only screen and (min-width: 1025px) {
  .brand-detail-right {
    width: 360px;
  }
}

.price-temp {
  color: #000;
}
.price-temp span {
  font-size: 16px;
}
.price-temp p {
  font-size: 24px;
  font-weight: 600;
}
.price-temp p sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.btn-add-cart {
  background: #fff;
  color: #f08a35;
  padding: 10px 10px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #f08a35;
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}

.breadcrumb {
  background-color: transparent;
  display: flex;
  align-items: center;
}
.breadcrumb a.breadcrumb-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: rgb(128, 128, 137);
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  white-space: nowrap;
}
.breadcrumb .icon-next {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-left: 5.5px;
  margin-right: 8.5px;
}

.box-shadow-page {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
}

.menu-order {
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
}
.menu-order .lst-menu-order {
  min-width: 600px;
  overflow: auto;
  white-space: nowrap;
}
.menu-order .lst-menu-order .item-menu-order {
  width: auto;
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  border-bottom: 1px solid rgb(235, 235, 240);
  color: rgb(128, 128, 137);
}
.menu-order .lst-menu-order .item-menu-order.active, .menu-order .lst-menu-order .item-menu-order:hover {
  border-bottom: 1px solid #f08a35;
  color: #f08a35;
}
@media only screen and (min-width: 1025px) {
  .menu-order .lst-menu-order {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.box-search-order {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 12px 0px;
  border: 1px solid rgb(196, 196, 207);
  border-radius: 4px;
  height: 36px;
}
.box-search-order svg {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  color: rgb(128, 128, 137);
}
.box-search-order input {
  flex: 1;
  height: 100%;
  border: none;
}
.box-search-order .link-search {
  display: block;
  border-left: 1px solid #f08a35;
  color: #f08a35;
  padding: 0 10px;
}

.main-lst-order .item-order {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 16px;
}
.main-lst-order .item-order .status-order {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 240);
  margin-bottom: 12px;
  padding-bottom: 12px;
  color: rgb(128, 128, 137);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.main-lst-order .item-order .status-order::before {
  content: "";
  display: block;
  background: url("../images/icon-block.png") center center/20px 20px no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0px 6px 0px 0px;
}
.main-lst-order .item-order .info-order {
  display: flex;
  gap: 12px;
}
.main-lst-order .item-order .info-order .thumb-order {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  border: 0.5px solid rgb(238, 238, 238);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  position: relative;
}
.main-lst-order .item-order .info-order .thumb-order img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-lst-order .item-order .info-order .thumb-order .quantity {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(128, 128, 137);
  text-align: center;
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: rgb(235, 235, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 10px;
}
.main-lst-order .item-order .info-order .product-info .name-shop {
  display: flex;
  align-items: center;
  gap: 6px;
}
.main-lst-order .item-order .info-order .product-info .name-shop::before {
  content: "";
  display: block;
  background: url("../images/store.png") center center/16px 16px no-repeat;
  width: 16px;
  height: 16px;
  float: left;
}
.main-lst-order .item-order .info-order .product-info .price {
  font-size: 14px;
}
.main-lst-order .item-order .detail-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 12px;
  width: 100%;
  border-top: 1px solid rgb(235, 235, 240);
  padding-top: 12px;
}
.main-lst-order .item-order .detail-price .title {
  font-weight: 300;
  color: rgb(128, 128, 137);
  margin-right: 8px;
  margin-bottom: 12px;
  font-size: 17px;
}
.main-lst-order .item-order .detail-price .title span {
  font-weight: 400;
  color: rgb(56, 56, 61);
}
.main-lst-order .item-order .detail-price .button-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.main-lst-order .item-order .detail-price .button-group button {
  padding: 12px 8px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #f08a35;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #f08a35;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 1025px) {
  .main-lst-order .item-order .info-order .product-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .main-lst-order .item-order .detail-price .button-group {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
}
