@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cookie&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.fixCen {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .fixCen {
    padding: 0 16px;
  }
}

input:focus,
button:focus {
  outline: none;
}

.rs {
  padding: 0;
  margin: 0;
}

.h-100 {
  height: 100%;
}

.mt-40 {
  margin-top: 40px;
}

a,
a:hover {
  text-decoration: none;
}

.full {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.full.active {
  display: block;
}

.wrapper-kiricard {
  width: 100%;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.6;
}
.wrapper-kiricard header {
  background-color: #fff;
  height: 60px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  font-family: "Jost", sans-serif;
}
.wrapper-kiricard header .header-top {
  height: 100%;
}
.wrapper-kiricard header .inner-header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-kiricard header .logo {
  display: block;
  max-width: 160px;
}
.wrapper-kiricard header .logo img {
  width: 100%;
}
.wrapper-kiricard header .icon-menu-bar {
  color: #333;
  height: 40px;
  display: flex;
  align-items: center;
}
.wrapper-kiricard header .icon-menu-bar i {
  margin-right: 8px;
}
.wrapper-kiricard header .icon-search {
  display: none;
}
.wrapper-kiricard header .lst-icon-menu {
  display: flex;
  align-items: center;
}
.wrapper-kiricard header .lst-icon-menu a {
  display: none;
}
.wrapper-kiricard header .lst-icon-menu a.shopping-cart {
  color: #333;
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-kiricard header .lst-icon-menu a.shopping-cart .fa-shopping-cart {
  font-size: 20px;
}
.wrapper-kiricard header .lst-icon-menu a.shopping-cart .number-cart {
  position: absolute;
  top: 5px;
  inset-inline-end: 0;
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f08a35;
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 9px;
  line-height: 15px;
}
.wrapper-kiricard header .lst-icon-menu a .fa {
  color: #333;
  font-size: 16px;
}
.wrapper-kiricard header .lst-icon-menu a:hover .fa {
  color: rgba(51, 51, 51, 0.6);
}
.wrapper-kiricard header .form-search {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  width: 300px;
  height: 70px;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  align-items: center;
}
.wrapper-kiricard header .form-search form {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper-kiricard header .form-search input {
  flex: 1;
  height: 70px;
  border: none;
}
.wrapper-kiricard header .form-search input:focus {
  outline: none;
}
.wrapper-kiricard header .form-search button {
  background: none;
  border: none;
}
.wrapper-kiricard header .lst-menu {
  width: 300px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 9999;
  transition: all 0.3s ease;
}
.wrapper-kiricard header .lst-menu.active {
  left: 0;
}
.wrapper-kiricard header .lst-menu .form-search {
  display: flex;
  position: relative;
  top: 0;
}
.wrapper-kiricard header .lst-menu .mb-menu li a {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
  flex: 1 1 0%;
  padding: 5px 20px;
  min-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1058823529);
  color: #333;
}
.wrapper-kiricard header .lst-menu .mb-menu li a .fa {
  margin-right: 8px;
}
.wrapper-kiricard header .lst-menu .mb-menu li:hover a {
  color: #f08a35;
}
.wrapper-kiricard .see-collection {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 50px 15px;
}
.wrapper-kiricard .see-collection .see-textbox {
  font-size: 14px;
}
.wrapper-kiricard .see-collection .see-textbox p {
  margin-bottom: 20px;
}
.wrapper-kiricard .see-collection .see-textbox .btn-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  min-height: 42px;
  font-size: 13px;
  background-color: #f08a35;
  color: #fff;
  text-transform: uppercase;
}

.title-subtitle {
  font-family: "Cookie", cursive;
  color: #f08a35;
  font-size: 24px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1025px) {
  .title-subtitle {
    font-size: 30px;
  }
}

.title-sub {
  color: #16527f;
  font-size: 25px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1025px) {
  .title-sub {
    font-size: 36px;
  }
}

.swiper-product {
  position: relative;
}
.swiper-product .swiper-button-prev,
.swiper-product .swiper-button-next {
  background: #fff;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.swiper-product .swiper-button-prev .fa,
.swiper-product .swiper-button-next .fa {
  font-size: 12px;
}

.item-product {
  background-color: #fff;
}
.item-product .inner-product {
  padding: 0 10px;
}
.item-product .thumb-product {
  position: relative;
  display: block;
}
.item-product .tag-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
}
.item-product .tag-thumb.tag-new {
  right: 5px;
}
.item-product .tag-thumb.tag-sale {
  left: 5px;
}
.item-product .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}
.item-product .price {
  font-size: 16px;
  line-height: 150%;
  color: rgb(39, 39, 42);
  margin-bottom: 10px;
}
.item-product .btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(235, 235, 240);
  color: #333;
  height: 36px;
}
.item-product .btn-more:hover {
  color: #f08a35;
}
@media only screen and (min-width: 1025px) {
  .item-product .title {
    font-size: 14px;
  }
}

.swiper-banner .swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.swiper-banner .swiper-button-prev::before {
  display: block;
  content: "";
  background: url("../images/icon-arrow.png") 0/100% no-repeat;
  width: 24px;
  height: 24px;
}
.swiper-banner .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.swiper-banner .swiper-button-next::before {
  display: block;
  content: "";
  background: url("../images/icon-arrow.png") 0/100% no-repeat;
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
}

.swiper-collection {
  position: relative;
  padding: 30px 0;
  background: url("../images/sweets-bakery-infoboxes-bg.png") 50% 20px repeat-x;
}
.swiper-collection .swiper-button-prev,
.swiper-collection .swiper-button-next {
  background-image: none;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-collection .swiper-button-prev .fa,
.swiper-collection .swiper-button-next .fa {
  font-size: 16px;
  color: #7a7a7a;
}
.swiper-collection .swiper-button-prev {
  left: -20px;
}
.swiper-collection .swiper-button-next {
  right: -20px;
}
.swiper-collection .thumb-collection {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}
.swiper-collection .title {
  color: #16527f;
  line-height: 1.3;
  font-size: 22px;
  text-align: center;
}
.swiper-collection p {
  text-align: center;
  margin: 10px 0;
}
.swiper-collection .btn-more {
  display: inline-block;
  margin: 0 auto;
  color: #333;
  border-bottom: 2px solid #f08a35;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
@media only screen and (min-width: 1280px) {
  .swiper-collection {
    padding: 50px 0;
  }
  .swiper-collection .swiper-button-prev,
.swiper-collection .swiper-button-next {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .see-collection .swiper-collection {
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 1025px) {
  .wrapper-kiricard header {
    width: 95%;
    max-width: 1192px;
    height: 90px;
    position: absolute;
    top: 30px;
    margin-inline: auto;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .wrapper-kiricard header .icon-menu-bar {
    display: none;
  }
  .wrapper-kiricard header .logo {
    max-width: 240px;
  }
  .wrapper-kiricard header .lst-icon-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
  .wrapper-kiricard header .lst-icon-menu a .fa {
    font-size: 20px;
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search {
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search .icon-search-ic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 3px solid #f08a35;
    border-radius: 50%;
    margin-left: 8px;
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search .icon-search-ic .fa {
    font-size: 20px;
    color: #333;
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search:hover .fa {
    color: rgba(51, 51, 51, 0.6);
  }
  .wrapper-kiricard header .lst-icon-menu .icon-search:hover .form-search {
    display: flex;
  }
  .wrapper-kiricard header .lst-menu {
    position: relative;
    width: 100%;
    left: 0;
    height: auto;
    background-color: transparent;
    display: block;
  }
  .wrapper-kiricard header .lst-menu .lst-icon-menu-mb,
.wrapper-kiricard header .lst-menu .form-search {
    display: none;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .wrapper-kiricard header .lst-menu .lst-menu-header li a {
    border: none;
  }
  .wrapper-kiricard .see-block-1 {
    display: flex;
  }
  .wrapper-kiricard .see-block-1 .see-textbox {
    width: 25%;
  }
  .wrapper-kiricard .see-block-1 .swiper-collection {
    flex: 1;
  }
}
.lst-bestseller-product {
  background-image: url("../images/hinh-nen-web-new.png");
  background-size: contain;
  margin: 0px 0px 40px 0px;
  padding: 90px 15px 90px 15px;
  position: relative;
}
.lst-bestseller-product .elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}
.lst-bestseller-product .elementor-shape-top {
  top: -1px;
}
.lst-bestseller-product .elementor-shape-bottom {
  bottom: -1px;
}
.lst-bestseller-product .elementor-shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.lst-bestseller-product .elementor-shape svg .elementor-shape-fill {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}
.lst-bestseller-product .elementor-shape[data-negative=false].elementor-shape-bottom,
.lst-bestseller-product .elementor-shape[data-negative=true].elementor-shape-top {
  transform: rotate(180deg);
}
.lst-bestseller-product .btn-more-list {
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f0ad4e;
}

.box-contact .title {
  font-size: 45px;
  font-weight: 600;
  color: #000;
  line-height: 1;
}
.box-contact .btn-signup {
  background-color: #fd4680;
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.box-contact .item-form {
  width: 100%;
  margin-bottom: 16px;
  text-align: left;
}
.box-contact .item-form label {
  width: 100%;
  margin-bottom: 4px;
}
.box-contact .item-form input {
  width: 100%;
  border: 1px solid rgb(235, 235, 240);
  height: 40px;
  padding: 0 16px;
}
@media screen and (min-width: 769px) {
  .box-contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
  }
  .box-contact .item-form {
    width: 48%;
  }
}

.lst-creative {
  padding: 20px 0;
}
.lst-creative .item-creative {
  background-color: #f4f8fb;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 2px 3px 14px transparent;
}
.lst-creative .item-creative h4 {
  color: #16527f;
  font-size: 24px;
  line-height: 1.3;
  transition: all 0.25s ease;
  font-weight: 500;
}
.lst-creative .item-creative p {
  margin-top: 10px;
}
.lst-creative .item-creative .btn-more {
  display: inline-block;
  margin: 15px auto 0;
  color: #333;
  border-bottom: 2px solid #f08a35;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.lst-creative .item-creative:hover {
  background-color: #f08a35;
  box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.16);
  color: #fff;
}
.lst-creative .item-creative:hover h4,
.lst-creative .item-creative:hover p,
.lst-creative .item-creative:hover a {
  color: #fff;
}
.lst-creative .img-creative {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1025px) {
  .lst-creative {
    display: flex;
  }
  .lst-creative .group-creative {
    width: 25%;
  }
}

.box-company .our-company {
  margin: 20px 0;
}
.box-company .lst-our-company {
  padding: 20px 0;
}
.box-company .item-company {
  background-color: #f4f8fb;
  margin-bottom: 20px;
  padding: 30px;
  box-shadow: 2px 3px 14px transparent;
}
.box-company .item-company .box-incon-info {
  display: inline-block;
  transition: all 0.25s ease;
  color: #f08a35;
  font-size: 38px;
  font-weight: 700;
}
.box-company .item-company .btn-more {
  display: inline-block;
  margin: 15px auto 0;
  color: #333;
  border-bottom: 2px solid #f08a35;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
@media only screen and (min-width: 1025px) {
  .box-company {
    display: flex;
  }
  .box-company .img-company {
    width: 50%;
    padding: 20px;
    margin-bottom: 0;
  }
  .box-company .item-company {
    margin-bottom: 0;
    padding: 20px;
  }
  .box-company .our-company {
    width: 50%;
  }
  .box-company .lst-our-company {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.box-share-news {
  padding: 30px 15px;
}
.box-share-news .item-news {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s cubic-bezier(0, 0, 0.44, 1.18);
}
.box-share-news .content-news {
  padding: 25px;
}
.box-share-news .content-news .title-news {
  margin-bottom: 10px;
  font-size: 22px;
  color: #333;
  line-height: 1.4;
  font-weight: 500;
}
.box-share-news .content-news .date-author {
  color: #a5a5a5;
  margin-bottom: 10px;
  font-size: 13px;
}
.box-share-news .content-news .btn-link-news {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  line-height: 1;
  color: #f08a35;
  margin-top: 15px;
}
.box-share-news .content-news p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
